<!DOCTYPE html>
<html>
  <head>
    <!-- TITLE -->
    <%= yield :title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- STYLES -->
    <%= stylesheet_link_tag "admin/admin", :media => "all" %>
    <%= yield :styles %>
  </head>

  <body data-turbolinks="false">
    
    <header>Sistema de Gestão</header>

    <div class="navbar">
      <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Categorias</a> 
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>

    <%= yield %>
    
    <!-- SCRIPTS -->
    <%= javascript_include_tag "admin/admin" %>
    <%= yield :scripts %>
  </body>
</html>
